.dateAndTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.datePickerContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.timePickerContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.checkInContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 30px;
}

.checkOutContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 30px;
}

.datePicker {
  width: 200px;
  border-radius: 4px;
  height: 30px;
  border: 1px solid #ccc;
}

.react-datepicker__tab-loop {
  position: absolute;
  top: 0;
}

.errorContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.bookingError {
  position: absolute;
}

.button {
  margin-top: 60px;
}
