.roomList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  .roomError {
  top: 272px;
}
}

.rooms {
  display: flex;
  gap: 20px;
  justify-content: center;
    position: relative;
}

.buttonContainer {
  position: relative;
}

