.roomList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  .roomError {
  top: 272px;
}
}

.rooms {
  display: flex;
  gap: 20px;
  justify-content: center;
    position: relative;
}

.buttonsContainer{
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 40px;
}