.roomList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rooms {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.roomError {
  top: 272px;
}

.buttonsContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 40px;
}
